* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,
  body {
    // min-width: 1440px;
    height: 100%;
  }
  
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  .el-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1240px;
    margin: 0 auto;
    //background-color: #fff;
  
    .logo {
      width: 280px;
      padding: 10px;
      img {
        width: 100%;
        line-height: 60px;
      }
    }
  }
  .el-main {
    padding: 0 !important;
  }
  a {
    text-decoration: none;
  }
  /**font family**/ 
  @font-face {
    font-family: 'MyriadPro-Bold';
    src: url('~@/styles/fonts/MyriadPro-Bold.otf');
  }
  @font-face {
    font-family: 'MyriadPro-Regular';
    src: url('~@/styles/fonts/MyriadPro-Regular.otf');
  }
  @font-face {
    font-family: 'Krub';
    src: url('~@/styles/fonts/Krub-Bold.ttf');
  }
  @font-face {
    font-family: 'Krub-Regular';
    src: url('~@/styles/fonts/Krub-Regular.ttf');
  }
  @font-face {
    font-family: 'Sans-Bold';
    src: url('~@/styles/fonts/Product-Sans-Bold.ttf');
  }
  @font-face {
    font-family: 'Sans-Regular';
    src: url('~@/styles/fonts/Product-Sans-Regular.ttf');
  }